nav ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    border: none;
}

#main-nav ul a {
    text-decoration: none;
    color: grey;
    font-size: .9rem;
}

.show-menu {
    display: block;
}
nav div {
    display: none;
}
button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: #827344;
}
@media screen and (min-width:768px) {
    nav div {
        display: flex;
    }
    #menu ul {
        display: flex;
        flex-flow: row nowrap;
    }
    #menu-button {
        display: none;
    }

    nav ul li {
        padding-left: 2rem;
    }


}