@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Quicksand:wght@300;400;600;700&display=swap');

body {
    font-family: "Quicksand", sans-serif;
}
h1, h2 {
    font-family: "DM Serif Display", serif;
    // letter-spacing: -.02px;
    line-height: 2.3rem;
    font-weight: 300;
    color: #827344;
}
h1 {
    font-size: 2.2rem;
    margin: .5rem 0;
}
h2 {
    font-size: 1.8rem;
    margin: 1.5rem 0;
}
h3 { 
    color: #827344;
    margin: .5rem auto;
    letter-spacing: -.5px;
}
p {
    color: #555555;
    font-size: .8rem;
}
.features-wrapper h2{
    margin-bottom: 1rem;
}
.hero-wrapper p{
    color: #333333;
    margin: auto;
}

.tagline {
    margin: 0;
    font-weight: 700;
}

@media screen and (min-width:375px) {
    p {
        font-size: .9rem;
    }
    h2 {
        font-size: 1.8rem;
        line-height: 1.2;
    }
}

// @media screen and (min-width:768px) {

//     h2 {
//         margin: 1rem 0;
//     }
//     .team-wrapper h2, .contact-wrapper h2 {
//         margin-bottom: 1rem;
//     }

//     h3 {
//         font-size: 1rem;
//     }
// }
// @media screen and (min-width:1024px) {

//     h1 {
//         font-size: 4rem;
//         left: ;
//     }

//     h2 {
//         font-size: 2rem;
//     }

// }