@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Quicksand:wght@300;400;600;700&display=swap');

body {
    font-family: "Quicksand", sans-serif;
}
h1, h2 {
    font-family: "DM Serif Display", serif;
    letter-spacing: 1.3px;
    font-weight: 300;
}
h2 {
    // color: #7D9867;
    color: #635834;
    font-size: 1.5rem;
    margin: 0;
    letter-spacing: -.02px;
}
h3 { 
    color: #827344;
    margin: .5rem auto;
}
p {
    color: #555555;
    font-size: .8rem;
}
.hero-wrapper p{
    color: #555555;
    margin: auto;
}
.hero-wrapper h2 {
    margin-top: 2rem;
}
.features-wrapper p {
    max-width: 90%;
    margin: .5rem auto;
}

@media screen and (min-width:375px) {
    p {
        font-size: .9rem;
    }
    h2 {
        font-size: 1.8rem;
    }
}

@media screen and (min-width:768px) {

    h2 {
        margin: 1rem 0;
    }

    h3 {
        font-size: 1rem;
    }
}
@media screen and (min-width:1280px) {

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2rem;
    }
    #features h2{
        margin-bottom: 3rem;
    }
}