@mixin formGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
}
@mixin mobileGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap:  0;
}
@mixin featureGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
@mixin teamGridOne {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 3rem;
}
@mixin heroGrid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
}
@mixin heroGridOne {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
}

@mixin teamGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@mixin form {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem 0;
}
@mixin CTA {
    background-color: #827344;
    width: 100%;
    max-width: 300px;
    height: 45px;
    border-radius: 50px;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.12);
}

@mixin secondaryButton {
    background-color: #fff;
    width: 100%;
    max-width: 300px;
    height: 45px;
    border-radius: 50px;
    color: #827344;
    font-weight: 600;
    border: 1px solid #DDDDDD;
    font-family: "Quicksand", sans-serif;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.12);
}

@mixin input {
    border: none;
    border-bottom: 1px solid #827344;
    background-color: #82734407;
}

@mixin cards {
    background-color: #fff;
    padding: 1rem;
    border-radius: .8rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.12);
}
