img {
    max-width: 100%;
    height: auto;
}
header img {
    width: 20px;
}
.hero-wrapper img {
    width: 50px;
    opacity: 80%;
}
.team-wrapper img {
    border-radius: 10px;
}


@media screen and (min-width:425px) {

    .features-wrapper img {
        max-width: 90%;
        height: auto;
    }

}

@media screen and (min-width:768px) {
    header img {
        width: 24px;
    }
    img {
        max-width: 100%;
    }
    .features-wrapper img {
        max-width: 100%;
    }
    .hero-wrapper img {
        width: 60px;
        opacity: 100%;
    }
}