img {
    max-width: 90%;
    height: auto;
}
header img {
    width: 20px;
}
.hero-wrapper img {
    width: 50px;
    opacity: 80%;
}
.team-wrapper img {
    padding: 0.5rem 0;
    border-radius: 15px;
}
// .features-wrapper img {
//     max-width: 70%;

// }
@media screen and (min-width:768px) {
    header img {
        width: 24px;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    .hero-wrapper img {
        width: 60px;
    }

}