header {
    padding: .7rem 1.5rem;
    background-color: #FCFAF7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

@media screen and (min-width:768px) {

    header {
        padding: 1rem 4rem;
    }
}