header {
    background-color: #FCFAF7;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    border-bottom: 1px solid #b7a878bb;

}

.header-wrapper {
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

<<<<<<< HEAD
    header {
        padding: 1rem 3rem;
=======
@media screen and (min-width:375px) {
    .header-wrapper {
        padding: .5rem 1.5rem;
>>>>>>> 7ffa32e0eb274a0bb463e842e170c51db3145d2a
    }

}
@media screen and (min-width:768px) {

<<<<<<< HEAD
    header {
        max-width: 1024px;
=======
    .header-wrapper  {
        padding: .5rem 4rem;
>>>>>>> 7ffa32e0eb274a0bb463e842e170c51db3145d2a
    }
}
// @media screen and (min-width:1024px) {


// }
// @media screen and (min-width:1440px) {

//     header {
//         padding: 1rem 12rem;
//     }
// }