main {
    background-image: url("../../../assets/HeroimageV02.png");
    background-attachment: fixed;
    background-size: 140%;
    background-position: center 25px;
    background-repeat: no-repeat;
    background-color: #FCFAF7;
    padding: 16rem 0 0 0;
}
// HERO
.hero-wrapper {
    background-color: #ded9cb;
    align-content: center;
    padding: 2rem 0;
    justify-content: center;
    align-content: center;
    border-radius: 24px 24px 0 0;
}
.hero-wrapper div{
    max-width: 250px;
    margin: auto;
    text-align: center;
}
.hero-wrapper p {
    margin: .5rem;
    padding: 0 .8rem;
}

// FEATURE
.hero-wrapper div, .features-wrapper h2, .features-wrapper section, .dl-wrapper , .team-wrapper h2 , .team-wrapper section, .contact-wrapper h2, .contact-wrapper section{
    max-width: 300px;
    margin: auto;
}
.team-wrapper section {
    margin-bottom: 1rem;
}
.contact-wrapper p {
    margin: 0.8rem auto;
}
.contact-wrapper h2 {
    margin: 0 auto 0.8rem auto;
}
.features-wrapper h2 {
    margin: 0 auto 1.5rem auto;
}
.features-wrapper p {
    padding: 0 1rem;
    margin: 0;
}
.features-wrapper div {
    @include mobileGrid;
    justify-items: center;
}

.features-wrapper section {
    margin-bottom: 40px;
}

.features-wrapper, .team-wrapper {
    text-align: center;
    @include mobileGrid;
    justify-items: center;
    padding: 3rem 1.5rem 0.5rem 1.5rem;
    background-color: #FCFAF7;
}

@media sceen and (max-width: 699px) {
    .features-wrapper section:not(:last-of-type) {
        margin-bottom: 4rem;
    }
}

// TEAM
.team-wrapper .cards {
    margin: 1.5rem 0;
}
.cards {
    @include cards;
    gap: 3rem 0;
}
.team-wrapper h3, .team-wrapper p{
    text-align: left;
}
.team-wrapper h3 {
    margin: .5rem 0;
    letter-spacing: -2%;
}
.team-wrapper p {
    margin-top: .2rem;
}
.link-wrapper {
    @include links;
    justify-content: space-between;
    align-items: center;
}


// CONTACT
.contact-wrapper {
    text-align: center;
    padding: 3rem 1.5rem 0 1.5rem;
    background-color: #E3DECE;
}

form {
    margin: 2rem 0 0 0;
}
input, textarea {
    padding: 0.5rem 0 .5rem .5rem;
    margin: .8rem 0;
    border: 1px solid rgb(153, 153, 153);
    width: 100%;
    font-family: "Quicksand", sans-serif;
    @include input;
}
form button {
    @include secondaryButton;
    margin: 1rem auto;
    max-width: 243px;
}
input:focus, textarea:focus {
    outline: 1px solid #827344;
}


// ASIDE
aside {
    background-color: #E3DECE;
    padding: 3rem 2rem;
    text-align: center;
}

aside h2 {
    margin: 0;
}

.dl-wrapper {
    @include form;
    padding: 1rem 0 0 0;
    gap: 1rem 0;
}


@media screen and (min-width:375px) {
    main {
        padding-top: 18rem;
    }
    aside h2{
        padding: 0 2rem;
    }
    .contact-wrapper p {
        padding: 0.3rem;
    }
    .features-wrapper p {
        padding: 0 1rem;
    }
    .team-wrapper {
        padding: 5rem 2.5rem 2.5rem 2.5rem;
    }
    .contact-wrapper {
        padding: 10rem 2rem;
    }
}

@media screen and (min-width:425px) {
    main {
        background-size: 120%;
        background-position: center 40px;
    }
    .contact-wrapper, .features-wrapper {
        padding: 5rem 3rem 2.75rem 3rem;
    }
    .hero-wrapper {
        max-width: 375px;
        margin: auto;
        padding: 0;
    }
    .features-wrapper section {
        margin-bottom: 2.25rem;
    }
    
    .hero-wrapper div{
        padding: 1rem 0;
        max-width: 287px;
    }
    aside {
        padding: 5rem 0;
    }
    aside p {
        max-width: 300px;
        margin: 1rem auto;
    }
    aside h2 {
        max-width: 300px;
        margin: 0 auto 1rem auto;
    }
    #close {
        display: none;
    }
}


@media screen and (min-width:769px) {
    main {
        background-color: #ded9cb;
        background-position: center 6px;
        padding: 15rem 0 0 0;
    }
    
    .features-wrapper,  .team-wrapper {
        padding-top: 10rem;
        padding-bottom: 10rem;
    }
    .contact-wrapper {
        padding-top: 10rem;
 
    }
    .features-wrapper p {
        max-width: 100%;
        margin: 0;
    }

    .contact-wrapper h2, .contact-wrapper p , input, textarea{
        max-width: 350px;
        margin: auto;
    }
    .contact-wrapper p {
        padding: .6rem 0;
    }
    .contact-wrapper h2 {
        padding: .6rem 0;
    }
    form {
        @include form;
    }
    input:first-of-type {
        margin: .8rem;
    }
    .dl-wrapper {
        @include form;
        padding: 1rem;
    }
}


@media screen and (min-width:1024px) {
    main {
        background-size: 100%;
        background-position: center 10px;
        padding: 19rem 0 0 0;
    }
    .hero-wrapper div{
        max-width: 1024px;
    }
    .hero-wrapper p, .hero-wrapper h1 {
        padding: 0 2.3rem;
    }
    .features-wrapper div, .team-wrapper section{ 
        max-width: 1000px;
        margin: auto;
    }
    .features-wrapper p {
        padding: 0;
    }
    .team-wrapper .cards {
        margin: 0;
    }
    .dl-wrapper {
        padding: 1rem 15rem;
        @include mobileGrid;
        gap: 1rem;
    }
    .team-wrapper section, .features-wrapper div {
        @include heroGridOne;
        gap: 2rem;
    }
    .team-wrapper  h2 {
        margin-bottom: 2rem;
    }

}




@media screen and (min-width:1440px) {

    main {
        background-position: center -10px;
        padding: 28rem 0 0 0;
    }
    .features-wrapper div{
        max-width: 900px;
        margin: auto;
    }
}