main {
    background-image: url("../../../assets/HeroimageV02.png");
    background-attachment: fixed;
    background-size: 140%;
    background-position: center 30px;
    background-repeat: no-repeat;
    background-color: #FCFAF7;
    padding: 18rem 0;
}

.hero-wrapper div{
    background-color: #ded9cb;
    padding: 3rem 1.5rem;
    text-align: center;
}
.hero-wrapper button {
    @include CTA;
    margin: 2rem 0;
}
.features-wrapper, .team-wrapper {
    text-align: center;
    @include mobileGrid;
    padding: 6rem 1.5rem;
    background-color: #FCFAF7;
}
.team-wrapper  {
    gap: 2rem 0;
}
.contact-wrapper {
    text-align: center;
}
.features-wrapper p, .team-wrapper p, .features-wrapper h3, .team-wrapper h3 , .links{
    max-width: 82%;
    margin: .5rem auto;
    // text-align: left;
}

.features-wrapper section:not(:first-of-type), .team-wrapper section:not(:first-of-type)  {
    margin: 3rem 0;
}
.contact-wrapper {
    padding: 6rem 1.5rem;
    background-color: #fcfaf7;
}

#contact p {
    margin: 1rem;
}
form {
    margin: 2rem 0;
}
input, textarea {
    padding: 0.5rem 0 .5rem .5rem;
    margin: .8rem 0;
    border: 1px solid rgb(153, 153, 153);
    width: 100%;
    font-family: "Quicksand", sans-serif;
    @include input;
}
form button {
    @include secondaryButton;
    margin: 1rem 0;
}
input:focus, textarea:focus {
    outline: 1px solid #827344;
}



@media screen and (min-width:768px) {
    main {
        background-color: #ded9cb;
        background-size: 100%;
        background-position: center 30px;
        padding: 24rem 0 0 0;
    }

    .features-wrapper, .team-wrapper{ 
        padding: 8rem 4rem;
        text-align: left;
    }
    .contact-wrapper {
        padding: 4rem;
        text-align: center;
    }
    #contact p{
        padding: 0 6rem;
        text-align: center;
    }
    .team-wrapper, .features-wrapper {
        @include featureGrid;
    }

    .hero-wrapper div {
        background-color: #ded9cbdc;
        @include heroGrid;
        padding: 2rem 4rem;
        text-align: left;
    }

    .features-wrapper p, .team-wrapper p, .features-wrapper h3, .team-wrapper h3 , .links {
        max-width: 100%;
        text-align: left;
    }
    .features-wrapper section:not(:first-of-type), .team-wrapper section:not(:first-of-type)  {
        margin: 0;
    }
    form {
        @include form;
        padding: 0 7rem;
        margin: 0;
    }
 
    input {
        width: 414px;
    }
}


@media screen and (min-width:1020px) {
    main {
        background-size: 90%;
        padding: 30rem 0 0 0;
    }
    .team-wrapper {
        @include teamGrid;
        gap: 2rem;
    }

    form {
        max-width: 384px;
        margin: auto;
    }
    #contact p {
        max-width: 50%;
        margin: 1rem auto;
    }
    #team h2 {
        margin: 0;
    }
}




@media screen and (min-width:1440px) {
    main {
        // background-image: url("../../../assets/Hero image-desktop.png");
        padding: 0;
    }
    .team-wrapper {
        @include teamGridOne;
    }
    .hero-wrapper {
        // @include heroGridOne;
        padding: 0;
    }
    .hero-wrapper div {
        padding: 14rem 2rem 6rem 4rem;
    }
    form {
        max-width: 400px;
        margin: auto;
    }
    #contact p {
        max-width: 40%;
        margin: auto;
    }
    input {
        max-width: 400px;
    }
}