main {
    background-image: url("../../../assets/HeroimageV02.png");
    background-attachment: fixed;
    background-size: 140%;
    background-position: center 25px;
    background-repeat: no-repeat;
    background-color: #FCFAF7;
    padding: 16rem 0 0 0;
}
// HERO
.hero-wrapper {
    background-color: #ded9cb;
    align-content: center;
    padding: 2rem 0;
    justify-content: center;
    align-content: center;
}
.hero-wrapper div{
    max-width: 250px;
    margin: auto;
    text-align: center;
}
.hero-wrapper p {
    margin: .5rem;
}

// FEATURE
.hero-wrapper div, .features-wrapper h2, .features-wrapper section, .dl-wrapper , .team-wrapper h2 , .team-wrapper section, .contact-wrapper h2, .contact-wrapper section{
    max-width: 300px;
    margin: auto;
}
.features-wrapper h2, .team-wrapper h2, .contact-wrapper h2, .contact-wrapper p {
    margin: 0.8rem auto;
}
.features-wrapper p {
    padding: 0 .5rem;
    margin: 0;
}
.features-wrapper, .team-wrapper {
    text-align: center;
    @include mobileGrid;
    justify-items: center;
    padding: 5rem 0;
    background-color: #FCFAF7;
}
.features-wrapper section:not(:last-of-type){
    margin-bottom: 4rem;
}

// TEAM
.team-wrapper  {
    gap: 2rem 0;
}
.cards {
    @include cards;
    gap: 3rem 0;
}
.team-wrapper h3, .team-wrapper p{
    text-align: left;
}
.team-wrapper h3 {
    margin: .5rem 0;
    letter-spacing: -2%;
}
.team-wrapper p {
    margin-top: .2rem;
}
.link-wrapper {
    @include links;
    justify-content: space-between;
    align-items: center;
}


// CONTACT
.contact-wrapper {
    text-align: center;
    padding: 10rem 2rem;
    background-color: #E3DECE;
}

form {
    margin: 2rem 0;
}
input, textarea {
    padding: 0.5rem 0 .5rem .5rem;
    margin: .8rem 0;
    border: 1px solid rgb(153, 153, 153);
    width: 100%;
    font-family: "Quicksand", sans-serif;
    @include input;
}
form button {
    @include secondaryButton;
    margin: 1rem auto;
}
input:focus, textarea:focus {
    outline: 1px solid #827344;
}


// ASIDE
aside {
    background-color: #E3DECE;
    padding: 6rem 2rem;
    text-align: center;
}
.dl-wrapper {
    @include form;
    padding: 1rem 0;
    gap: .5rem;
}


@media screen and (min-width:375px) {
    main {
        padding: 18rem 0 0 0;
    }
    aside h2{
        padding: 0 2rem;
    }
    .contact-wrapper p {
        padding: 0.5rem;
    }
    .features-wrapper p {
        padding: 0 1rem;
    }
}

@media screen and (min-width:425px) {
    main {
        background-size: 120%;
        background-position: center 40px;
    }
    .contact-wrapper, .features-wrapper {
        padding: 6rem 3rem;
    }
    
    .features-wrapper section {
        margin-bottom: 5rem;
    }
    .hero-wrapper div{
        padding: 1rem 0;
        max-width: 287px;
    }
    aside {
        padding: 6rem 5rem;
    }
}


@media screen and (min-width:768px) {
    main {
        background-color: #ded9cb;
        background-size: 100%;
        background-position: center 50px;
        padding: 15rem 0 0 0;
    }
    .hero-wrapper {
        max-width: 375px;
        margin: auto;
        padding: 0;
    }

    .features-wrapper section:not(:first-of-type), .team-wrapper section:not(:first-of-type)  {
        margin: 0;
    }
    .features-wrapper p {
        max-width: 100%;
        margin: 0;
    }
    .features-wrapper, .team-wrapper{ 
        padding: 8rem 2rem;
    }
    .contact-wrapper h2, .contact-wrapper p , input, textarea{
        max-width: 350px;
        margin: auto;
    }
    form {
        @include form;
    }
    input:first-of-type {
        margin: .8rem;
    }
    .dl-wrapper {
        @include formGrid;
        padding: 1rem 12rem;
        gap: 2rem;
    }
    #close {
        display: none;
    }

}


@media screen and (min-width:1024px) {
    main {
        background-size: 100%;
        background-position: center 10px;
        padding: 18rem 0 0 0;
    }
    .parallex {
        width: 1020px;
    }
    .hero-wrapper div{
        max-width: 700px;
    }
    .hero-wrapper p, .hero-wrapper h1 {
        padding: 0 2.3rem;
    }
    .features-wrapper, .team-wrapper{ 
        @include heroGridOne;
        gap: 1rem 2rem;
    }
    .dl-wrapper {
        padding: 1rem 15rem;
    }
}




@media screen and (min-width:1440px) {

    main {
        background-position: center -10px;
        padding: 42rem 0 0 0;
    }
    .hero-wrapper {
        padding: 3rem 18rem;
    }
    .features-wrapper, .team-wrapper{ 
        padding: 10rem 12rem;
    }
    .team-wrapper{ 
        padding: 10rem 18rem;
    }

}