main {
    background-image: url("../../../assets/HeroimageV02.png");
    background-attachment: fixed;
    background-size: 140%;
    background-position: center 38px;
    background-repeat: no-repeat;
    background-color: #FCFAF7;
    padding: 18rem 0 0 0;
}
// HERO
.hero-wrapper {
    text-align: center;
}
.hero-wrapper div{
    background-color: #ded9cb;
    margin-top: 1rem;
    padding: 3rem 1.5rem;
    text-align: center;
}


// FEATURE
.features-wrapper, .team-wrapper {
    text-align: center;
    @include mobileGrid;
    padding: 6rem 1.5rem;
    background-color: #FCFAF7;
}
.features-wrapper section:not(:first-of-type), .team-wrapper section:not(:first-of-type)  {
    margin: 1rem 0;
}


// TEAM
.team-wrapper  {
    gap: 2rem 0;
}
.cards {
    @include cards;
}
.team-wrapper h3, .team-wrapper p{
    margin: .5rem 0;
    text-align: left;
}



// CONTACT
.contact-wrapper {
    text-align: center;
}
.contact-wrapper {
    padding: 6rem 1.5rem;
    background-color: #fcfaf7;
}
.contact-wrapper p {
    margin: 1rem .5rem;
}
form {
    margin: 2rem 0;
}
input, textarea {
    padding: 0.5rem 0 .5rem .5rem;
    margin: .8rem 0;
    border: 1px solid rgb(153, 153, 153);
    width: 100%;
    font-family: "Quicksand", sans-serif;
    @include input;
}
form button {
    @include secondaryButton;
    margin: 1rem auto;
}
input:focus, textarea:focus {
    outline: 1px solid #827344;
}


// ASIDE
aside {
    background-color: #fcfaf77c;
    padding: 6rem 1.5rem;
    text-align: center;
}
aside button {
    @include CTA;
}



@media screen and (min-width:375px) {
    main {
        padding: 8.5rem 0 0 0;
    }
    .hero-wrapper div {
        margin-top: 4rem;
    }
    .features-wrapper p{
        max-width: 82%;
        margin: 1rem auto;
    }
    .contact-wrapper p {
        margin: 1rem;
    }

    
}

@media screen and (min-width:425px) {
    main {
        padding: 8rem 0 0 0;
        background-size: 120%;
        background-position: center 45px;
    }
    .cards {
        max-width: 65%;
        margin: 0 auto;
    }
    .contact-wrapper, .features-wrapper {
        padding: 6rem 3rem;
    }
    
    .features-wrapper section {
        margin-bottom: 5rem;
    }
    .hero-wrapper p{
        padding: 0 1rem;
    }

}


@media screen and (min-width:768px) {
    main {
        background-color: #ded9cb;
        background-size: 100%;
        background-position: center 50px;
        padding: 28rem 0 0 0;
    }
    .hero-wrapper p {
        margin: 0;
        text-align: left;
    }
    .hero-wrapper div {
        margin: 0;
        padding: 0;
    }
    .hero-wrapper  {
        background-color: #ded9cb;
        @include heroGrid;
        align-items: center;
        padding: 3rem;
    }

    .features-wrapper section:not(:first-of-type), .team-wrapper section:not(:first-of-type)  {
        margin: 0;
    }
    .features-wrapper p {
        max-width: 100%;
        margin: 0;
    }
    .features-wrapper, .team-wrapper{ 
        padding: 8rem 3rem;
    }

    .team-wrapper, .features-wrapper {
        @include featureGrid;
    }

    .cards {
        max-width: 100%;
    }
    
    .contact-wrapper {
        padding: 6rem 10rem;
    }
    .contact-wrapper p {
        margin: 1.3rem 0;
    }
    form {
        @include form;
    }
 
    input, textarea, .contact-wrapper p {
        width: 450px;
        margin: 0 auto;
    }
    input:first-of-type {
        margin: .8rem;
    }


}


@media screen and (min-width:1024px) {
    main {
        background-size: 100%;
        padding: 35rem 0 0 0;
    }

    .hero-wrapper {
        padding: 3rem 4rem;
    }
    .features-wrapper, .team-wrapper{ 
        padding: 10rem 4rem;
    }

    .team-wrapper, .features-wrapper {
        gap: 2rem;
    }


}




@media screen and (min-width:1440px) {

    main {
        background-position: center 15px;
        padding: 40rem 0 0 0;
    }

    .hero-wrapper {
        padding: 3rem 4rem;
    }
    .features-wrapper, .team-wrapper{ 
        padding: 10rem 4rem;
    }
 

}